.container {
    padding-top: 70px;
    place-content: center;
    display: flex;
}
.banner {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.bannerImage {
    width: 45%;
    margin: 50px 50px 50px 20px;
}
.bannerTexts {
    width: 100%;
    text-align: center;

    h1{
        margin-bottom: 30px;
        color: #212121;
        font-size: 1.8rem;
        font-weight: bolder;
    }

    p{
        font-size: 1.2rem;
        color: #2a3036;
    }

    button {
        background-image: linear-gradient(333deg, rgba(43,1,121,1) 0% 0%, rgba(121,56,242,1) 100% 100%);
        color: #fff;
        border: none;
        outline: none;
        width: 170px;
        padding: 12px;
        margin: 30px auto;
        border-radius: 6px;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
.frontPaln {
    p{
        color: #464e57 !important;
        font-size: 1.1rem;
        margin-bottom: 15px;
    }

    :nth-child(2) {
        color: #1d4ed8 !important;
        cursor: pointer;
        font-weight: bold;
    }
}