//Blogs.js
.container {
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #e5e7eb;
    padding: 30px 10px;
    margin: 0 15px;
    width: 30%;
    text-align: center;
    height: 400px;

        img {
            width: 180px;
        }
}
.titleConainer {
    background-color: #f9f9f9;
    margin-top: 30px;
    height: 150px;
    padding: 20px 20px;
    border-radius: 30px;
    position: relative;

    
    a {
        text-align: right;
        text-decoration: none;
        color: #2a3036;
        font-weight: bold;
        font-size: 1.2rem;
    }
}
.category {
    position: absolute;
    // top: 90px;
    bottom: 15px;
    font-size: 1rem;
    width: fit-content;
    color: #733dd8 ;
}

//Paginate.js
.paginate {
    display: flex;
    flex-direction: column;
    justify-content: content;
    align-items: center;
    margin-left: 30px;
}
.paginateData {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.paginateNumbers {
    display: none;
    margin: 50px 0;
    word-spacing: 50px;
    background-color: red;
    width: 100px;
    font-size: 2rem;
}
