.container {
    margin-top: 110px !important;
    margin-bottom: 100px;
     
    ul {
        display: flex;
        list-style-type: none;
        margin-right: 60px;

        li {
            margin-right: 8px;
        }
        a {
            text-decoration: none;
            color: #464e57;
        }
    }
}
.sidesContainer {
    display: flex;
    flex-direction: row-reverse;
}

//leftSide

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-right: 20px;
    position: relative;
}
.blogsContainer {
    display: flex;
    width: 100%;
}
.paginateNumbers {
    position: absolute;
    top: 430px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    ul {
        width: 100%;
        margin: 0 !important;

        li {
            color: #464e57;
            height:30px;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;

            img {
                width: 20px;
                margin-top:4px;
            }
        }
    }
}
.selection  {
    background-color: #733dd8;
    color:#fff !important;
    padding:0 10px !important;
}
.notSelection {
    color: #464e57;
    background-color: none;
    padding:0 10px !important;
}
.arrowSelection {
    background-color: #e7e8e9;
    color:#ccc;
    padding:3px 5px !important;
}
.arrowNotSelection {
    background-color: none;
}
.rightSide {
    width: 25%;
    margin: 0 70px 0 0;
    border-radius: 30px;
}
.arrow {
    transform: rotate(180deg);
}

//right side
.categories{
    display: flex;
    flex-direction: column;
    color: #2a3036;

    div {
        border-radius: 30px 30px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:20px 20px;
        font-weight: bold;
        font-size: 1.1rem;
        background-color: #f3e8ff;
    }
}
.categories nav {
    background-color: #fff;
    border-radius: 0 0 30px 30px;
}
.categories ul {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    text-align: right;
    direction: rtl;
    margin: 0 !important;
    padding: 25px 0;
    
        li {
            margin-top: 2px;
            padding: 10px 20px;
            margin-right: 0 !important;
            font-size: 1.1rem;
            font-weight: 500;
            font-size: 0.97rem;
            cursor: pointer;
            transition: 0.3s all ;
        }
}
.categories ul :first-child {
    background-color: #733dd8;
    color: #fff;
}
.categories ul li:hover {
    background-color: rgb(235, 248, 253);
    color: #733dd8;
}
.changeRotate {
    transform: rotate(180deg);
    transition: all 0.3s;
}
.rotateTransition {
    transition: all 0.3s;
}
.hideMenue {
    display: none;
    transition: all 0.8s;
}