.container {
    padding: 20px 0;
}
.mainSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0 20px;
    border-bottom: 2px solid #e5e7eb;
    padding: 0 30px 10px;
}
.productImage {
    width: 200px;

    img {
        width: 200px;
    }
}
.cartsTexts {
    width: 40%;
    
    p {
        font-size: 0.9rem;
        margin-bottom: 20px;
        color: #2a3036;
    }
    div {
        display: flex;
        align-items: center;
        margin-bottom: 2px;

        img {
            width: 20px;
        }
        span {
            font-size: 0.8rem;
            color: #6b7280;
            margin-right: 10px;
        }
    }
}
.price {
    color: #2a3036;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}
.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    width: fit-content;
    
    div {
        margin: 0!important;
        border: 1px solid #b59ae9;
        padding: 0 !important;
        height: 100%;
        border-left: none !important;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
     
        span {
            padding: 5.5px 10px;
            color: #2a3036;
        }
    }
    
    button {
        border-radius: 5px 0 0 5px;
        cursor: pointer;
        padding: 5px 10px;
        background-color:#f9fafb;
        border: 1px solid #b59ae9;

        
        img {
            width: 15px;
        }
    }
}

.buttons button:hover {
        border:1px solid #733DD8;

}
.buttons div:hover {
    border:1px solid #733DD8;
}