.coursesItems {
    height: 500px;
    width: 28% !important;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
    margin: 30px auto;
}
.coursesImage {
    width: 100%;
    height: 250px;
    

    img {
        width: 100%;
        height: 100%;
    }
}

.coursesName {
    color: #2a3036;
    font-weight: bold;
    margin: 20px 10px 10px 0;
    font-size: 1rem;
}
.coursesTime {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0 ;
    width: 100%;

    p {
        font-size: 0.75rem;
        color: #464e57;
        font-weight: bold;
        margin-right: 5px;
    }
}
.coursesDetails {
    color: #733dd8;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 20px;
    font-weight: bold;
    display: flex;
}
.register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 20px 10px;

    button {
        background-image: linear-gradient(333deg, rgb(43, 1, 121) 0%, rgb(43, 1, 121) 0%,
         rgb(121, 56, 242) 100%, rgb(121, 56, 242) 100%);
        border: none;
        padding: 13px 30px;
        color: #fff;
        font-size: 1rem;
        border-radius: 7px;
        cursor: pointer;
        font-weight: bold;
        outline: none;
    }

    p{
        font-size: 0.9rem;
        color: #464E54;
        font-weight: bold;
    }
}
.coursesItems {
    width: 20%;
    height: 450px;
     box-shadow: rgba(94, 129, 209, 0.16) 0px 8px 24px;
     border-radius: 20px;
}