.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
    padding: 0 10px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    span {
        background-color: #e9d5ff;
        position: absolute;
        width: 41%;
        height: 20px;
        top:30px;
        right: 399px;
    }
}

.title {
    color: #070d12;
    word-spacing: -5px;
    z-index: 2;
}

//education 
.EducationContainer {
    margin-top: 130px;

    ul {
        display: flex;
        list-style-type: none;
        margin-right: 60px;

        li {
            margin-right: 8px;
        }
        // :last-child {
        //     font-weight: bold;
        // }
        a {
            text-decoration: none;
            color: #464e57;
        }
    }
}