.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 20px;
}
.options {
    background-color: #fff;
    width: 15%;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    margin: 50px 0;
    padding: 25px 0 30px;


    img {
        width: 50px;
    }
    p {
        font-size: 0.7rem;
        color: #070d12;
    }
    :nth-child(2) {
        margin:7px 0 10px;
        font-weight: bold;
        font-size: 0.9rem;
    }
}