.footerContainer {
    display: flex ;
    justify-content: flex-start;
    background-color: #e5e7eb;
    width: 100%;
    height: fit-content;
    padding: 40px 10px;
    color: #464e57;
}
.footerLinks {
    margin:0  40px;
    direction: rtl;

    p{
        font-size: 1.1rem;
        font-weight: bold;
        // color: #2a3036;
        font-weight: bold;
    }
}
.footerLinks ul {
    margin-top: 30px;
    line-height: 40px;
    padding: 0 20px;

    
    a {
        text-decoration: none;
        color: #464e57;
        font-size: 1rem;
        font-weight: 900;
        display: block;
        // margin: 10px 15px;
    }
}
.footerTexts {
    margin-right: 20px;
    line-height: 30px;

    span {
        color: #2563eb;
        font-weight: bold;
    }
}
.zarinPal img {
    width: 70px;
    cursor: pointer;
}