.container {
    display: flex;
    width: 100%;
    margin: 30px 0 100px 0;
    padding: 0 10px;
}
.introImage {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;

    img {
        width: 90%;
    }
}
.introText {
    width: 60%;

    :first-child {
        margin: 30px 0;
        font-size: 1.2rem;
        font-weight: bold;
    }

    p {
        font-size: 0.94rem;
        line-height: 30px;
        color: #2a3036;

        a {
            text-decoration: none;
            font-size: 0.95rem !important;
            color: #2563eb;
        }
    }
}