.container{
    position: fixed !important;
    top: 0 !important;
    background-color: #fafafa;
    height:70px;
    width: 100%;
    z-index: 1500;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 9px 16px;
}
.headerContainer{
    display: flex;
    align-items: center;
    height: 70px;
    text-align: center;
}
.logo img{
    width: 30px;
}
.navbarMenue{
    width: 70%;
    display: flex;
    align-items: center;
    padding-right: 50px;
}
.navbarItems{
    display: flex;
    list-style: none;
    font-size: 0.9rem;
    position: relative;

    a {
        text-decoration: none;
        color: #464e57;
        cursor: pointer;
        margin-right: 25px;
        font-weight: bold;
    }
}
.loginShopcartContainer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}
.loginContainer {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-left: 60px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;


        img {
            width: 30px;
            position: absolute;
            top: 4.5px;
            left:5.5px;  
        }


}
.loginContainer:hover {
    background-color: rgb(232, 234, 246)
}
.shoppingCart {
    margin-left: 12px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    position: relative;
    transition: all 0.2s;
    position: relative;

            img {
                width: 25px;
                position: absolute;
                top: 11px;
                left: 10px;
            }

}
.shoppingCart:hover {
    background-color: rgb(232, 234, 246)
}
.shoppingCart a {
    text-decoration: none;
}
.quantity {
    width: 20px;
    height:20px;
    background-color: #ff0000;
    color: #fff;
    line-height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 25px;
    top: 3px;
    font-size: 0.75rem;
    font-weight: bold;
}
.connectionSubmenue {
    position: absolute;
    top: 30px;
    background-color: #fff;
    width: 200px;
    text-align: right;
    padding:0 30px 20px 0;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
}
.hide {
    display:none;
}
.connectionLinks {
    display: flex;
    flex-direction: row-reverse;

    img {
        width: 20px;
        margin-top: 3px;
    }
}