.container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    margin-top: 60px;
}
form {
    height: 400px;
    width: 500px;
    border: 1px solid #ccc;
    margin: 70px 0 50px;
}
.title {
    text-align: center;
    margin: 20px auto;
    color: #7e57c2;
    font-weight: bolder;
    font-size: 2rem;
}
.registerTitle {
    color: #2a3036;
    font-weight: bold;
    margin: 50px 30px ;
    font-size: 1.1rem;
}
.emailBoxLable {
    color: #464e57;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 30px;
}
input {
    width: 450px;
    padding: 10px 10px;
    outline: none;
    border: 1px solid #ccc;
    margin: 0 25px;
    border-radius: 5px;
    text-align: left;
    direction: ltr !important;
}
.inter {
    margin: 40px 25px 0;
    width: 450px;
    border-radius: 5px;
    padding: 15px 0;
    text-align: center;
    border: none;
    background-color: #7e57c2;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
