.container {
    display: flex;
    margin: 100px 0;
    padding: 0 40px;
    justify-content: space-between;
    width: 100%;
}
.cartsSection {
    width: 80%;
    margin-left: 20px;
    box-shadow: rgba(160, 160, 160, 0.09) 0px 2px 1px, rgba(155, 154, 154, 0.09) 0px 4px 2px,
    rgba(151, 150, 150, 0.09) 0px 8px 4px, rgba(124, 124, 124, 0.09) 0px 16px 8px,
    rgba(112, 111, 111, 0.09) 0px 32px 16px;
    border-radius: 10px;
}
.paymentSection {
    width: 25%;
    height: fit-content;
    box-shadow: rgba(160, 160, 160, 0.09) 0px 2px 1px, rgba(155, 154, 154, 0.09) 0px 4px 2px,
    rgba(151, 150, 150, 0.09) 0px 8px 4px, rgba(124, 124, 124, 0.09) 0px 16px 8px,
    rgba(112, 111, 111, 0.09) 0px 32px 16px;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
}

.payment {
    width: 100%;
    margin:20px 0 200px ;
    padding: 0 20px;

        div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
}
.payment section {
    border-bottom: 1px solid #e5e7eb;

    span {
        color: #6b7280;
        font-size: 0.9rem;
        margin-bottom: 10px ;
    }
}
.total {
    margin-top: 10px;
    color: #2a3036;
    font-weight: bold;
    font-size:0.9rem;
}
.continue {
    width: 100%;
    background-image: linear-gradient(333deg, rgba(43,1,121,1) 0% 0%, rgba(121,56,242,1) 100% 100%);
    border: none;
    margin-top: 10px;
    padding: 13px 0;
    border-radius: 10px;
    cursor: pointer;
    color:#fff;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
}