.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 10px 100px;
}
.texts ,
.statistics div {
    background-color: #fff;
    height: 90px;
    border-radius: 10px;
    padding: 5px 10px;
    display: grid;
    place-content: center;
    text-align: center;
}
.texts {
    text-align: right !important;
    width: 30% !important;
    :first-child{
        font-size: 1.5rem !important;
        font-weight: bold;
        margin-bottom: 5px;
    }
}
.statistics {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;

    div {
        width: 30%;
    }
}
.statistics div{
    :nth-last-child(1) {
        color: #733dd8;
    }
}